<%- include('../views/partials/header') -%>

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/sign-up">Créer un compte</a></li>
        <li><a href="/sign-in">Se connecter</a></li>
    </ul>
</nav>

<p>Projet final de la semaine 2/3 de node.js</p>

<%- include('../views/partials/footer') -%>
